



/* Reset some default styles in browsers */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply a background color to the whole document */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Header styles */
header {
    background: #126094;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
}

.header-content .logo img {
    height: 150px;
    width: 150px;
}

.header-content h1 {
    margin: 0;
    font-size: 2.5rem;
}

/* Intro section */
.intro {
    padding: 2rem;
    text-align: center;
    background-color: #fff;
}

.intro h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #126094;
}

.intro img {
    width: 100%;
    width: auto;
}

/* Services section */
.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url('background.webp');
    background-size: cover;
    background-position: center;
    padding: 2rem;
    color: #fff;
}

.services .service-item {
    flex-basis: 33%;
    text-align: center;
    margin-bottom: 2rem;
}

.services .service-item img {
    width: 100%;
    max-width: 200px;
    height: auto;
}



.services p {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 1.5rem;
}




/* Contact Form */
form {
    text-align: center;
    padding: 2rem;
}

form input,
form textarea {
    margin-bottom: 1rem;
    padding: 10px;
    width: 80%;
    max-width: 400px;
}

form input[type="submit"] {
    background-color: #126094;
    color: white;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Footer */
footer {
    background: #126094;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 0;
}

footer a {
    color: #ffffff;
    text-decoration: underline;
}


